.container {
    // border: var(--border-dark);
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header content"
      "header content"
      "header footer";

    width: 100%;
    // padding-right: var(--space-xs);
    // padding-left: var(--space-xs);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-l);

    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    background-color: var(--color-secondary-bg);
  
    @include media(tabletAndUp) {
      // padding-right: var(--space-m);
      // padding-left: var(--space-m);
      max-width: 60rem;
    }
  }