.content {
    grid-area: content;
    // margin: var(--space-s);
    // border: var(--border-dark);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 20px;
}
